@import '../abstract/variable';

@media all and (max-width: 630px) {
    body {
        main {
            .profile {
                .buttons a {
                    font-size: $text-size * 0.9;
                }
            }
        }
    }
}

@media all and (max-width: 620px) {
    body {
        header {
            margin-bottom: 15px;
        }
        main {
            flex-direction: column;
            justify-content: flex-start;
            gap: 20px;
            padding: 0px 10px 30px 10px;
            margin-bottom: 30px;

            .profile {
                width: 90vw;

                h1 {
                    text-align: center;
                    font-size: $text-size * 1.8;
                    word-spacing: 0.2rem;
                }

            }

            figure {
                order: -1;

                img {
                    width: 300px;
                }
            }
        }
    }
}

@media all and (max-width: 430px) {
    body {
        header {
            figure img {
                height: 30px;
            }

            nav ul li a {
                font-size: $text-size;
            }
        }

        main {
            .profile {
                h1 {
                    font-size: $text-size * 1.5;
                }
            }

            figure {
                img {
                    width: 260px;
                }
            }
        }
    }
}

@media all and (max-width: 350px) {
    body {
        header {
            flex-direction: column;
            padding: 10px 3%;

            figure img {
                height: 30px;
            }

            nav ul {
                gap: 2.5vw;
            }
        }

        main {
            .profile {
                h1 {
                    font-size: $text-size * 1.3;
                }

                p {
                    font-size: $text-size;
                }

                .buttons a {
                    font-size: $text-size * 0.8;
                }
            }

            figure {
                img {
                    width: 220px;
                }
            }
        }
    }
}

@media all and (max-width: 315px) {
    body {
        header {
            margin-bottom: 0px;
            nav ul {
                gap: 6vw;
            }
        }
    }
}