@import '../abstract/variable';

@media all and (max-width: 920px) {
    body {
        header {
            figure {
                img {
                    height: 40px;
                }
            }
            nav ul li a {
                font-size: $text-size * 1.2;
            }
        }
        main {
            gap: 55px;
            .profile {
                h1 {
                    font-size: $text-size * 1.6;
                    word-spacing: 0.2rem;
                    margin-bottom: 0px;
                }
                p {
                    font-size: $text-size * 1.2;
                }
            }
            figure {
                img {
                    width: 300px;
                }
            }
        }
    }
}
@media all and (max-width: 760px) {
    body {
        header {
            figure {
                img {
                    height: 40px;
                }
            }
            nav ul li {
                font-size: $text-size * 1.2;
            }
        }
        main {
            gap: 45px;
            .profile {
                h1 {
                    font-size: $text-size * 1.35;
                    word-spacing: 0.1rem;
                }
                p {
                    font-size: $text-size * 1.125;
                }
                .buttons {
                    justify-content: space-between;
                    margin: 0 15px;
                    a {
                        width: 45%;
                        font-size: $text-size;
                    }
                }
            }
            figure {
                img {
                    width: 240px;
                }
            }
        }
    }
}